.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 470px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 80px 40px rgba(148, 101, 39, 0.274);
}

#login-header {
  margin-top: 30px;
  font-size: 30px;
}

.errors {
  color: red;
  font-size: 14px;
  font-weight: 300;
}

.credential-fields {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 350px;
  gap: 10px;
}

#input-field {
  margin-top: 10px;
  appearance: none;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  color: #222222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.7;
  height: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 320px;
  width: 320px;
}

#input-field:hover {
  outline: 0.5px solid rgba(0, 0, 0, 0.788);
}

#input-field:active,
#input-field:focus {
  border: solid 1px rgb(255, 123, 34);
  outline: 0.5px solid rgba(255, 123, 34, 0.788);
}

#submit-button {
  margin-top: 10px;
  display: inline-block;
  height: 50px;
  background: unset;
  background-color: #585858;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#submit-button:hover {
  background-color: #3b3b3b;
}

#submit-button:active {
  background-color: #1a1818;
}

#demo-button {
  margin-top: 20px;
  display: inline-block;
  height: 50px;
  background-color: rgb(255, 147, 46);
  box-shadow: 0 0px 10px 10px rgba(184, 102, 25, 0.068);
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#demo-button:hover {
  background-color: rgb(255, 167, 66);
}

#demo-button:active {
  background-color: rgb(199, 132, 56);
}
