.login-form {
  border: 2px solid blue;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

#login-header {
  margin-top: 30px;
  font-size: 30px;
}

.errors {
  color: red;
  font-size: 14px;
  font-weight: 300;
}

.credential-fields {
  border: 2px solid rgb(62, 62, 62);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 350px;
  height: fit-content;
  border-radius: 24px;
  gap: 10px;
}

#input-field {
  margin-top: 10px;
  appearance: none;
  background-color: #ffffff;
  box-shadow: var(0px 1px 4px 0px inset rgba(14, 14, 14, 0.0901960784));
  border-bottom: var(#0e0e0e2e, rgba(14, 14, 14, 0.1803921569));
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.7;
  height: 35px;
  outline: 3px solid rgba(0, 0, 0, 0);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  width: 90%;
  min-width: 0;
}

#submit-button {
  margin-top: 10px;
  display: inline-block;
  height: 50px;
  background: unset;
  background-color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#submit-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(62, 62, 62);
  transform: scale(1.01);
}

#demo-button {
  margin-top: 20px;
  display: inline-block;
  height: 50px;
  background: unset;

  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  /* color: white; */
  /* border: none; */
  border-radius: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#demo-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(196, 194, 194);
  transform: scale(1.01);
}
