.signup-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(20px);
  min-height: 500px;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 80px 40px rgba(148, 101, 39, 0.274);
}

#signup-header {
  margin-top: 30px;
  font-size: 30px;
}
