.createCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-text {
  resize: none;
  border: 0.25rem solid var(--color-four);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  font-family: manrope;
  max-height: 8rem;
}

.comment-text::placeholder {
  color: white;
  font-size: 1rem;
  font-family: manrope;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: var(--color-four); */
  background-color: #12304b;
  height: 2.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.comment-button {
  border: none;
  font-family: manrope;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  background: rgb(125, 123, 121);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;

  min-height: 30px;
  max-height: 30px;
  min-width: 120px;
}

.comment-body-buttons {
  display: flex;
}

.delete-button,
.reply-button {
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  font-family: manrope;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 13px;
  background: var(--color-four);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 60px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.delete-button:hover,
.comment-button:hover,
.reply-button:hover {
  background: rgb(249, 163, 64);
  box-shadow: 5px 15px 30px 10px rgba(123, 86, 44, 0.541);
}

.delete-button:active .comment-button:active,
.reply-button:active {
  background: rgb(197, 129, 51);
  box-shadow: 5px 15px 30px rgba(208, 139, 60, 0.541);
}
