.createCommentContainer {
    height: 250px;
}

.create-text {
    display: flex;
}

.createCommentContainer .create-new-container {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.createCommentContainer .close:hover {
    cursor: pointer;
}

.createCommentContainer .publish {
    margin-top: 10px;
}
