.post-card-container {
  margin-bottom: 20px;
  min-height: 100px;
  /* border: 2px solid purple; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(237, 211, 176, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s ease;
}

.post-card-container:hover {
  transition: box-shadow 0.4s ease;
  box-shadow: 0px 15px 10px rgba(124, 93, 57, 0.541);
  background-color: rgb(255 247 236 / 47%);
  cursor: pointer;
}

#album-img {
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(156, 119, 77, 0.741);
}

#post-contents {
  /* border: 2px solid blue; */
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#post-contents h1 {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  text-decoration: underline;
  color: black;
}

#post-contents > p {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 10px;
}

.post-show-link p {
  /* border: 2px solid blue; */
  text-decoration: none;
  color: black;
}

#show-page-button {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  border: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 32a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm-96-32a96 96 0 1 0 192 0 96 96 0 1 0 -192 0zM96 240c0-35 17.5-71.1 45.2-98.8S205 96 240 96c8.8 0 16-7.2 16-16s-7.2-16-16-16c-45.4 0-89.2 22.3-121.5 54.5S64 194.6 64 240c0 8.8 7.2 16 16 16s16-7.2 16-16z"/></svg>') 
  center/contain no-repeat; /* Use the FontAwesome icon as a background image */
  color: rgb(216, 216, 216);
}

#show-page-button:hover {
  animation: spin 4s infinite linear;
  /* transition: box-shadow 0.4s ease; */
  /* box-shadow: 0px 5px 30px 5px rgb(163, 139, 107); */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
