.post-card-container {
  margin-bottom: 20px;
  min-height: 100px;
  /* border: 2px solid purple; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(237, 211, 176, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s ease;
}

.post-card-container:hover {
  transition: box-shadow 0.4s ease;
  box-shadow: 0px 15px 10px rgba(124, 93, 57, 0.541);
  background-color: rgb(255 247 236 / 47%);
}

#album-img {
  min-height: 80px;
  max-height: 80px;
  margin-right: 15px;
  margin-left: 15px;
  /* border: 2px solid green; */
  border-radius: 5px;
}

#post-contents {
  /* border: 2px solid blue; */
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#post-contents h1 {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  text-decoration: underline;
  color: black;
}

#post-contents > p {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 10px;
}

#show-page-button {
  height: 60px;
  weight: 60px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  border: none;
  background: var(--color-four);
  color: rgb(216, 216, 216);
}

#show-page-button:hover {
  background: rgb(134 134 151);
  transition: box-shadow 0.4s ease;
  box-shadow: 0px 8px 16px 3px rgb(37 37 43 / 64%);
}
