button:hover,
button:focus,
button:active {
  cursor: pointer;
}

.comment-thread {
  border: 1px solid transparent;
  overflow-x: hidden;
  max-width: 40rem;
  max-height: 460px;
}

.comment {
  position: relative;
  border-bottom: 4px solid rgb(214, 192, 140, 0.4);
}

.comment-heading {
  display: flex;
  margin: 16px 0 12px 0;
}

.comment-heading::after {
  margin-right: 15px;
}
.comment-info {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.comment-info > a {
  font-family: manrope;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}

.comment-author:hover {
  text-decoration: underline;
}

.replies {
  margin-left: 20px;
}

.comment-border-link {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 5px;
  height: calc(100% - 50px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.comment-body {
  padding: 0 0 16px 20px;
}

.replies {
  margin-left: 28px;
}

details.comment summary {
  list-style: none;
  cursor: pointer;
}

.comment-heading::after {
  margin-left: auto;
  color: var(--color-four);
}

.comment-heading:hover::after {
  color: rgb(21, 21, 23);
}

details.comment[open] .comment-heading::after {
  font-size: 0.85rem;
  font-family: manrope;
  content: 'Click to hide';
}

details.comment:not([open]) .comment-heading::after {
  font-size: 0.8rem;
  font-family: manrope;
  content: 'Click to show';
}

.comment .delete:hover {
  cursor: pointer;
}
