.createPage {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    box-sizing: border-box;
}

.TrackPostCreateContainer {
    border: black solid 1px;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(191, 96, 241, 0.8);
    border-radius: 10px;
}

.TrackPostCreateContainer .inputContainer {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;

}

.inputs {
    height: 100px;
    width: 50%;
}

.label {
    font-size: 28px;
    font-weight: 500;
}

.TrackPostCreateContainer .inputContainer.description {
    height: 200px;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.file-label {
    font-size: 20px;
}

.TrackPostCreateContainer h1 {
    font-size: 35px;
}

.track-input.file {
    display: none;
}

.track-input {
    resize: none;
    border-radius: 10px;
}


#audioFile {
  /* Add your custom styles here */
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.inputContainer {
    width: 100%;
}

.file-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.file-input-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-label {
    background-color: lightblue;
    padding: 10px;
    border: black 1px solid;
    border-radius: 10px;
}

.inputDescriptions {
    display: flex;
    width: 50%;
}

.file-descriptor {
    width: 50%;
}

.audio-label:hover {
    cursor: pointer;
}

.instructions {
    font-size: 16px;
}

.master-text {
    font-size: 16px;
}

.stems-text {
    font-size: 16px;
}

.createPage .descriptor {
    font-size: 20px;
}


@media (max-width: 1250px) {
    .audio-label {
        padding: 0;
    }
}