@font-face {
  font-family: CentralAve;
  src: url('/fonts/central-avenue-bold-pro.woff2') format('woff2');
}

.splash-container-about {
  margin-top: 30px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#about-header {
  font-family: CentralAve;
  margin-left: 30px;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 3rem;
}

.right-container-about {
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  width: 900px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.info-container {
  margin-left: 30px;
  padding: 10px;
  width: 800px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.info-container .title-bio-container {
  width: 60%;
}

.info-container .img-container {
  height: 150px;
  width: 40%;
}

.info-container h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.info-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.info-container .links-container {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.info-container a {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#github-icon {
  color: rgb(57, 52, 52);
}

#linkedin-icon {
  color: rgb(41, 86, 131);
}

.info-container .img-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.info-container img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* #footer-spacer {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
} */

#item-spacer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 2px solid rgba(180, 151, 82, 0.4);
}
