.audio-player {
  max-width: 400px;
  width: 100%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 15px;

  background-color: rgb(221, 159, 87);
  transition: box-shadow 0.4s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
  border: solid 2px rgb(221, 159, 87);
}

.waveform-container {
  max-width: 600px;
  min-height: 90px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(236, 215, 182, 0.603);
}

.play-container {
  width: 600px;
}

.audio-player:active {
  transition: box-shadow 0.4s ease;

  border: solid rgba(221, 159, 87, 0.8) 2px;
  box-shadow: 0 0 0px rgba(255, 173, 102, 0.8), 0 0 0px rgba(255, 173, 102, 0.8),
    0 0 20px rgba(255, 173, 102, 0.8);
}

.audio-buttons {
  width: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.audio-buttons > i {
  margin-left: 1rem;
  color: var(--color-four);
}

.audio-buttons:hover > i {
  color: grey;
}

.slider-bar {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
