.audio-responses-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: left;
  overflow: auto;
  max-width: 1000px;
}
.leftSide {
  width: 75%;
}

.audio-response-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 211, 176, 0.3);
  /* box-shadow: 0px 15px 10px rgba(124, 93, 57, 0.541); */
  border-radius: 10px;
}

.dl-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.7rem;
  margin-left: 5rem;
}

.response-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.response-text > h3 {
  font-weight: bold;
}

.response-text > p {
  margin: 10px;
  font-size: 14px;
}
