.audio-responses-container {
  height: 300px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: left;
  overflow: auto;
}
.leftSide {
  width: 75%;
}

.audio-response-container {
  display: flex;
}

.dl-button-container {
  display: flex;
  justify-content: center;
  align-items: center;


}

.response-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

.response-text > h3 {
  /* font-family: manrope; */
  font-size: 1.2rem;
}


