.audio-responses-container {
  /* height: 100px; */
  /* width: 100%; */
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: left;
}

.response-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

.response-text > h3 {
  /* font-family: manrope; */
  font-size: 1.2rem;
}
