.track-show-page {
  margin-top: 1rem;
  height: 80vh;
  display: flex;
  margin-left: 6rem;
  margin-right: 6rem;
}

.track-show-page .left-track-container {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  border-radius: 10px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  min-height: 100px;
  width: 60%;
  max-width: 60%;
  min-width: 400px;
}

.left-track-container > h1 {
  font-size: 2.5rem;
  word-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.left-button-container {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

#edit-track-button {
  border: none;
  font-family: manrope;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  background: rgb(125, 123, 121);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  min-height: 30px;
  max-height: 30px;
  min-width: 120px;
}

#edit-track-button:hover {
  background: rgb(249, 163, 64);
}

#delete-track-button {
  border: none;
  font-family: manrope;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  background: rgb(165, 33, 33);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  min-height: 30px;
  max-height: 30px;
  min-width: 120px;
}

#delete-track-button:hover {
  cursor: pointer;
  background: rgb(193, 39, 39);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-four);
  height: 2.5rem;
}

.track-right-container {
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 600px;
  overflow: hidden;
}

.track-right-header {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}
