.track-show-page {
  margin-top: 1rem;
  height: 80vh;
  /* width: 100vw; */
  display: flex;
  margin-left: 6rem;
  margin-right: 6rem;
}

.track-show-page .left-track-container {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  border-radius: 10px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  min-height: 100px;
  width: 60%;
  max-width: 60%;
  min-width: 400px;
}

.left-track-container > h1 {
  font-size: 2.5rem;
  word-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.track-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.description-container {
  border: solid 2px var(--color-four);
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  font-size: 1.1rem;
  width: 70%;
}

.image-container {
  border: solid 5px var(--color-four);
  max-height: 200px;
  max-width: 200px;
  min-width: 30%;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-container > img {
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: cover;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-four);
  height: 2.5rem;
}

.track-right-container {
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  min-width: 40%;
  overflow: off;
}
