.commentsContainer {
  padding: 1rem;
  max-height: 670px;
  box-sizing: border-box;
  width: 100%;
}

.comments-logged-out::after {
  content: 'Log in to comment or reply!';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.295);
}

.comments-logged-out::after {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.show-modal-container {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.create-button-container {
  height: 25px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.create-button-container h1:hover {
  cursor: pointer;
}

.comments-scroll {
  overflow: hidden;
  margin-top: 1.2rem;

  /* height: 100%; */
  height: 460px;
}

.comments-scroll .logged-in {
  overflow: auto;
  margin-top: 1rem;
  height: 500px;
}
