@font-face {
  font-family: CentralAve;
  src: url('/fonts/central-avenue-bold-pro.woff2') format('woff2');
}

.profile-base{
  display: flex;
  justify-content: center;
  min-width: 1400px;
}

.profile-main-page{
  /* border: 2px solid blue; */
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  max-height: 650px;
  z-index: 10;
  border-radius: 10px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px); 
}

.profile-info-container {
  position: relative;
  /* border: 2px solid red; */
  height: fit-content;
  border-bottom: 4px solid rgb(214, 192, 140, 0.4);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.profile-image-container {
  /* border: 2px solid black; */
  position: relative;
  height: 180px;
  width: 180px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

#profile-picture > img {
  max-height: 150px;
  max-width: 150px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 10px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.3);
}

.profile-image-container:hover .upload-option {
  display: flex;
}

.upload-option {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background: none;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.upload-option i {
  font-size: 1.5rem;
  color: rgb(74, 84, 93);
  opacity: 0.4;
}

.upload-option i:hover {
  color: black;
  scale: 1.1;
}
#profile-username {
  /* border: 2px solid black; */
  margin-left: 19px;
  position: relative;
  padding-top: 20px;
  font-weight: 900;
  font-size: 3.5rem;
  color: white;
}

#profile-username h1{
  margin-right: 60px;
}

#profile-bio {
  /* border: 2px solid black; */
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  height: fit-content;
  width: 300px;
  padding-top: 30px;
  color: white;
}

#edit-info-button {
  position: absolute;
  background: none;
  border: none;
  border-radius: 50%;
  top: 0; 
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  color: rgb(74, 84, 93);
  opacity: 0.4;
}

#edit-info-button:hover{
  color: black;
  scale: 1.1;
}

.profile-edit-field input,
.profile-edit-field textarea {
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 20;
}

.profile-edit-field textarea {
  padding: 12px;
  height: 100px;
  width: 400px;
  overflow-y: auto;
  font-family: Manrope;
  font-size: 14px;
  
}

#save-button {
  padding: 8px 16px;
  background-color: #4a545d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#save-button:hover {
  background-color: #374048;
}

#my-tracks {
  font-family: CentralAve;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2.5rem;
}

.user-tracks-container {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}

#profile-track-item {
  /* border: 1px solid black; */
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

