form > .errors {
  color: red;
  font-size: 0.875em;
  height: 15px;
  display: flex;
  align-items: center;
}

p {
  font-family: Manrope;
}

h1 {
  font-family: Manrope;
}

label {
  font-size: Manrope;
}