.splash-base {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
}

.splash-container {
  margin-top: 20px;
  height: 720px;
  width: 90%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 50%;
}

.right-container {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 25px; */
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 50%;
  overflow: auto;
}

.feed-container {
  border: 1px solid red;
  margin-top: 20px;
  margin-left: 15px;
  height: 84%;
  width: 95%;
  overflow: auto;
}

#search-container {
  margin-top: 20px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
}

#search-bar {
  width: 90%;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: transparent;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.76515px;
  outline: none;
}

#search-button {
  border-top: 2px solid black;
  border-left: transparent;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0 50% 50% 0;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}
