.splash-base {
  display: flex;
  justify-content: center;
  min-width: 1400px;
}

.splash-container {
  /* border: 2px solid blue;  */
  margin-top: 30px;
  /* for jakes computer */
  max-height: 750px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container.centered {
  /* border: 2px solid purple; */
  padding-top: 70px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px); 
  width: 50%; 
  max-height: 100%;
  /* overflow: hidden; */

}

.left-container {
  /* margin-top: 20px; */
  /* border: 2px solid red; */
  border-radius: 10px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  width: 70%;
  /* overflow: auto; */
  /* transition: transform 0.5s ease; */
}

.right-container {
  /* border: 2px solid red; */
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  max-height: 100%;
  overflow: auto;
  /* transition: transform 0.5s ease;  */
}

.feed-container {
  margin-top: 20px;
  margin-left: 15px;
  height: 500px;
  width: 95%;
  overflow: scroll;
}

.user-options-container {
  /* border: 2px solid purple; */
  width: 40px;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

#create-form-button {
  margin-bottom: 20px;
  border: none;
  font-family: Manrope;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  background: var(--color-four);
  color: rgb(216, 216, 216);
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  width: 10rem;
  min-height: 36px;
  min-width: 70px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

#create-form-button:hover {
  background: rgb(106, 106, 201);
  box-shadow: 5px 15px 30px 10px rgba(208, 139, 60, 0.541);
}

#search-container {
  /* border: 2px solid red; */
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search-bar {
  /* border: 2px solid yellow; */
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.76515px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#search-button {
  border: none;
  border-radius: 0 20px 20px 0;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-four);
  cursor: pointer;
}

#search-button:hover {
  background: rgb(106, 106, 201);
}

.hell {
  /* border: red solid 1px; */
  /* display: flex; */
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid rgb(214, 192, 140, 0.4);
}

.welcome-container {
  height: 100px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
  margin-left: 100px;
}

.description p {
  width: 700px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1.2em;
  padding-left: 150px;
  padding-bottom: 10px;
}

.feed-container::-webkit-scrollbar-corner {
   display: none;
  }