.track-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 100%;
  min-width: 50%;
  /* flex-wrap: wrap; */
}

.track-items {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.description-container {
  border: solid 2px var(--color-four);
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  font-size: 1.1rem;
  max-width: 100%;
}

.image-container {
  border: solid 5px var(--color-four);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-container > img {
  /* flex-shrink: 1; */
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: cover;
}

.audio-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-four);
  height: 4rem;
}

.audio-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  /* width: 1000px; */
  box-sizing: border-box;
}

.audio-player-button {
  text-decoration: none;

  display: flex;
  align-items: center;
  border: none;
  font-family: manrope;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  background: rgb(125, 123, 121);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;

  min-height: 30px;
  max-height: 30px;
  min-width: 120px;
}

.audio-button-container:hover,
.audio-player:hover {
  cursor: pointer;
}

.audio-player-button:hover {
  cursor: pointer;
  background: rgb(249, 163, 64);
  box-shadow: 5px 15px 30px 10px rgba(123, 86, 44, 0.541);
}

.audio-player-button:active {
  background: rgb(197, 129, 51);
  box-shadow: 5px 15px 30px rgba(208, 139, 60, 0.541);
}

.description-container .body {
  overflow: hidden;

}